<% provide(:title, 'Edit Opportunity') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@volunteer) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :host %>
      <%= f.text_field :host %>

      <%= f.label :date %>
      <%= f.text_field :date %>

      <%= f.label :contact %>
      <%= f.text_field :contact %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>