<% provide(:title, 'All Opportunities') %>
<h1><%= yield(:title) %></h1>

<%= will_paginate %>
<ul class="to_be_listed">
  <% @volunteers.each do |volunteer| %>
    <li>
      <%= link_to volunteer.name, volunteer %>
      (<%= volunteer.host %>)
    </li>
  <% end %>
</ul>
<%= will_paginate %>