<% provide(:title, 'All Organizations') %>
<h1><%= yield(:title) %></h1>

<%= will_paginate %>
<%= form_tag organizations_path, :class => 'form-horizontal', :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder => 'Search organization name...', :id => 'search_text_field' %>
    <%= submit_tag "Search organizations", class: "btn btn-default btn-sm", :name => nil %>
    <%= link_to "List new organization", new_organization_path, :class => 'btn btn-default btn-sm' %>
  </p>
<% end %>
<table class="table-hover table-striped" id="organization_table">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "distance", "Distance from Duke Chapel" %></th>
  </tr>
  <% @organizations.each do |organization| %>
  <tr>
    <th><%= link_to organization.name, organization %></th>
    <th><%= ((organization.location.distance_to("Duke University West Campus, Durham, NC")*1000).round / 1000.00)  %> miles</th>
  </tr>
  <% end %>
</table>
<%= will_paginate %>