<% provide(:title, 'New Organization') %>
<h1><%= yield(:title) %></h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@organization) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :contact_information %>
      <%= f.text_field :contact_information %>

      <%= f.label :website %>
      <%= f.text_field :website %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <!--<%= fields_for @geo_location do |g| %>
        <%= render 'shared/error_messages', object: g.object %>
        <%= g.label :address %>
        <%= g.text_field :address %>
      <% end %>-->

      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <%= f.text_field :tag_list %>

      <%= f.submit "List organization", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>