<% provide(:title, @organization.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h3>
				<%= @organization.name %>
			</h3>
		</section>
		<section>
			<% if @organization.location.valid? %>
				<iframe width="290" height="290" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBYImrVSASIZ-Ttw9bQ8sW56jGIBqVTi3Y&center=<%= @location.latitude%>,<%= @location.longitude %>&zoom=15&maptype=satellite"></iframe>
				<p><i class="icon-map-marker"></i> <%= @location.address %></p>
			<% end %>
			<p><i class="icon-question-sign"></i> <%= @organization.contact_information %></p>
			<p><i class="icon-eye-open"></i> <a href="<%= @organization.website %>" target="_blank"><%= @organization.website %></a>
			<p>(<%= link_to "Edit", edit_organization_path %>) (<%= link_to "Delete", organization_path, method: :delete, data: { confirm: "You sure?"} %>)</p>
			<p><%= link_to "Back", root_path %></p>
			<% if @organization.tag_list.any? %><p>Tags: <%= @organization.tag_list %></p><% end %>
		</section>
	</aside>
	<div class="span8">
		<h3>Description</h3>
		<p><%= @organization.description %></p>
		<% if @organization.volunteers.any? %>
      		<h3>Opportunities</h3>
      	<% end %>
      		<p><%= link_to "List new opportunity", new_organization_volunteer_path(@organization), :class => 'btn btn-default btn-sm' %></p>
      	<% if @organization.volunteers.any? %>
      		<ol class="to_be_listed">
        		<%= render @volunteers %>
      		</ol>
      		<%= will_paginate @volunteers %>
    	<% end %>
	</div>
</div>